<app-nav-bar></app-nav-bar>

<main class="container" *ngIf="product$ | async as product">
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img width="100" [src]="product.imageUrl" alt="" />
    <div
      [ngStyle]="{ 'background-image': 'url(' + product.imageUrl + ')' }"
      alt=""
    ></div>
  </div>

  <!-- Right Column -->
  <div class="right-column">
    <!-- Product Description -->
    <div class="product-description">
      <span>Item</span>
      <h1>{{ product.title }}</h1>
      <p>
        {{ product.description }}
      </p>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>$ {{ product.price }}</span>
    </div>
    <div class="my-2" *ngIf="product?.quantity">
      <div class="form-group">
        Quantity
        <input
          type="number"
          class="form-control my-1"
          placeholder="Quantity"
          [(ngModel)]="selectedQuantity"
          min="1"
          [max]="product?.quantity!"
          [disabled]="product?.quantity! <= 0"
        />
      </div>
      <span>Available quantity: {{ product?.quantity }}</span>
    </div>

    <div class="text-danger" *ngIf="product.quantity <= 0">Sold out</div>

    <button
      class="btn btn-primary my-2"
      [disabled]="
        product?.quantity! <= 0 || selectedQuantity! > product?.quantity!
      "
      (click)="buyProduct()"
    >
      {{ product.boughtUserId ? "Owned by " + product.boughtUserId : "Pay" }}
    </button>
  </div>
</main>
