<h5>Products List</h5>

<ul class="list-group my-2" *ngFor="let product of products$ | async">
  <li class="list-group-item d-flex justify-content-between">
    <div>
      <img
        width="50"
        height="50"
        class="mx-2"
        [src]="product.imageUrl"
        alt="i"
      />
      {{ product.title }}
    </div>
    <div class="float-right">
      <button class="btn btn-primary mx-2" (click)="edit(product)">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(product.id)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </li>
</ul>
